html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 6px 8px;
    cursor: pointer;
}

button:hover {
    background-color: #cecece;
}

button:focus {
    outline: 0;
}

.repo {
    position: fixed;
    top: 10px;
    right: 10px;
}

.wrapper {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: calc(11px + .25vw);
}

.title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.rawHand {
    margin-bottom: 2px;
}

.hand {
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card {
    padding: 6%;
    border-radius: 6%;
    border: 1px solid #dcdcdc;
    box-shadow: 2px 2px 4px 0 rgba(30,30,30,.1);
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#fafafa 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#fafafa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );
}

.cardInner {
    position: relative;
    width: 100%;
    padding-top: 150%;
}

.value {
    position: absolute;
    height: 37%;
    top: 8%;
    right: 10%;
}

.suit {
    position: absolute;
    width: 40%;
    left: 8%;
    bottom: 4%;
}

.text {
    width: 100%;
    font-weight: 600;
    margin-bottom: 3px;
}

@media (max-width: 540px) {
    .wrapper {
        width: 80%;
        margin-top: 50px;
        font-size: calc(10px + .5vw);
    }
}

@media (max-width: 420px) {
    .wrapper {
        width: 90%;
        font-size: calc(9px + .5vw);
    }
}